<ion-header>
  <ion-toolbar type="ios">
    <ion-item>
      <ion-avatar size="large" slot="start">
        <img src="assets/ionicons_svg_md-contact.svg" />
      </ion-avatar>
      <ion-label>
        <!-- <h3 class="nombreHeader">Renzo Lopez</h3> -->
        <h3 class="datosHeader" style="color: white;font-family:Raleway, sans-serif; font-size: 22px;">Perfil</h3>
      </ion-label>
    </ion-item>
  </ion-toolbar>
  </ion-header>
 
  <ion-content style="--background: #d7d8da">
      <ion-row style="border-radius: 10px;background: #f7adaf;margin-top: 1rem;"> 
          <ion-col>
            <ion-item style="--background: transparent;  --border-color: #4c8dff; margin-bottom: 0; height: 45px;">
              <ion-label class="titulosGral">
                CONTENIDO PÚBLICO
              </ion-label>
            </ion-item>
            <div class="contenido" style="border-radius: 5px;">
              <div class="card" >
                <ion-card type="button" class="cardContent ion-text-center" href="#" style="height: auto;">
                    <ion-avatar id="avatar" class="avatarCenter">
                      <img src="https://images.unsplash.com/photo-1553063085-dbbf64d936ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80"/>
                    </ion-avatar>
                    <ion-card-header>
                    <ion-card-subtitle class="cardSub">Arduino</ion-card-subtitle>
                    </ion-card-header>
                    <ion-button>
                        <ion-icon size="small" name="create"></ion-icon>
                    </ion-button>
                    <ion-button>
                        <ion-icon size="small" name="trash"></ion-icon>
                    </ion-button>
                  </ion-card>
              </div>
              <!-- <div class="card">
                <ion-card type="" class="cardContent ion-text-center" style="height: auto;">
                  <ion-avatar id="avatar" class="avatarCenter">
                    <img src="https://images.unsplash.com/photo-1531747118685-ca8fa6e08806?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=642&q=80"/>
                  </ion-avatar>
                  <ion-card-header>
                    <ion-card-subtitle class="cardSub">Robótica Educativa</ion-card-subtitle>
                  </ion-card-header>
                  <ion-button>
                      <ion-icon size="small" name="create"></ion-icon>
                  </ion-button>
                  <ion-button>
                      <ion-icon size="small" name="trash"></ion-icon>
                  </ion-button>
                </ion-card>
              </div> -->
              <div class="card" >
                  <ion-card type="button" class="cardContent ion-text-center" href="#" style="height: auto;">
                      <ion-avatar id="avatar" class="avatarCenter">
                        <img src="https://images.unsplash.com/photo-1560415755-bd80d06eda60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=854&q=80"/>
                      </ion-avatar>
                      <ion-card-header>
                      <ion-card-subtitle class="cardSub">Programación</ion-card-subtitle>
                      </ion-card-header>
                      <ion-button>
                          <ion-icon size="small" name="create"></ion-icon>
                      </ion-button>
                      <ion-button>
                          <ion-icon size="small" name="trash"></ion-icon>
                      </ion-button>
                    </ion-card>
                </div>
                <div class="card" >
                    <ion-card type="button" class="cardContent ion-text-center" href="#" style="height: auto;">
                        <ion-avatar id="avatar" class="avatarCenter">
                          <img src="https://images.unsplash.com/photo-1509024644558-2f56ce76c490?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"/>
                        </ion-avatar>
                        <ion-card-header>
                        <ion-card-subtitle class="cardSub">La Gran Roma</ion-card-subtitle>
                        </ion-card-header>
                        <ion-button>
                            <ion-icon size="small" name="create"></ion-icon>
                        </ion-button>
                        <ion-button>
                            <ion-icon size="small" name="trash"></ion-icon>
                        </ion-button>
                      </ion-card>
                  </div>
            </div>
          </ion-col>
        </ion-row>



        <ion-row style="border-radius: 10px;background: #E3989B;margin-top: 1rem;">
            <ion-col>
              <ion-item
                style="--background: transparent;  --border-color: #4c8dff; margin-top:0.2rem; margin-bottom: 0; height: 45px;">
                <ion-label class="titulosGral">CONTENIDO PRIVADO</ion-label>
              </ion-item>
              <div class="contenido" style="border-radius: 5px;">
                <div class="card">
                  
                    <ion-card type="button" class="cardContent ion-text-center" href="#" style="height: auto;">
                      <ion-avatar id="avatar" class="avatarCenter">
                        <img src="https://images.unsplash.com/photo-1521295121783-8a321d551ad2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
                      </ion-avatar>
                      <ion-card-header>
                      <ion-card-subtitle class="cardSub">Historia Mundial</ion-card-subtitle>
                      </ion-card-header>
                      <ion-button>
                          <ion-icon size="small" name="create"></ion-icon>
                      </ion-button>
                      <ion-button>
                          <ion-icon size="small" name="trash"></ion-icon>
                      </ion-button>
                    </ion-card>
                </div>
           
                <!-- <div class="card">
                  <ion-card class="cardContent ion-text-center">
                    <ion-avatar id="avatar" class="avatarCenter">
                      <img
                        src="https://images.unsplash.com/photo-1415804941191-bc0c3bbac10d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80"
                      />
                    </ion-avatar>
                    <ion-card-header>
                      <ion-card-subtitle class="cardSub">Historia de América</ion-card-subtitle>
                    </ion-card-header>
                  </ion-card>
                </div> -->
               </div>
            </ion-col>
          </ion-row>
          <ion-row style="border-radius: 10px;background: #FDEBA8;margin-top: 1rem;">
              <ion-col>
                <ion-item
                  style="--background: transparent;  --border-color: #4c8dff; margin-top:0.2rem; margin-bottom: 0; height: 45px;">
                  <ion-label class="titulosGral">MIS CURSOS</ion-label>
                </ion-item>
                <div class="contenido" style="border-radius: 5px;">
                  <div class="card">
                    
                      <ion-card type="button" class="cardContent ion-text-center" href="#" style="height: auto;">
                        <ion-avatar id="avatar" class="avatarCenter">
                          <img src="https://images.unsplash.com/photo-1521295121783-8a321d551ad2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"/>
                        </ion-avatar>
                        <ion-card-header>
                        <ion-card-subtitle class="cardSub">Historia Mundial</ion-card-subtitle>
                        </ion-card-header>
                        <ion-button>
                            <ion-icon size="small" name="create"></ion-icon>
                        </ion-button>
                        <ion-button>
                            <ion-icon size="small" name="trash"></ion-icon>
                        </ion-button>
                      </ion-card>
                  </div>
                  <div class="card" >
                      <ion-card type="button" class="cardContent ion-text-center" href="#" style="height: auto;">
                          <ion-avatar id="avatar" class="avatarCenter">
                            <img src="https://images.unsplash.com/photo-1553063085-dbbf64d936ea?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80"/>
                          </ion-avatar>
                          <ion-card-header>
                          <ion-card-subtitle class="cardSub">Arduino</ion-card-subtitle>
                          </ion-card-header>
                          <ion-button>
                              <ion-icon size="small" name="create"></ion-icon>
                          </ion-button>
                          <ion-button>
                              <ion-icon size="small" name="trash"></ion-icon>
                          </ion-button>
                        </ion-card>
                    </div>
                    <div class="card">
              
                        <ion-card type="button" class="cardContent ion-text-center" href="#" style="height: auto;">
                          <ion-avatar id="avatar" class="avatarCenter">
                            <img src="https://images.unsplash.com/photo-1503789101408-444b37749472?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80"/>
                          </ion-avatar>
                          <ion-card-header>
                          <ion-card-subtitle class="cardSub">Geometría</ion-card-subtitle>
                          </ion-card-header>
                          <ion-button>
                              <ion-icon size="small" name="create"></ion-icon>
                          </ion-button>
                          <ion-button>
                              <ion-icon size="small" name="trash"></ion-icon>
                          </ion-button>
                        </ion-card>
                    </div>
                    <div class="card">
                      <ion-card type="button" class="cardContent ion-text-center" href="#" style="height: auto;">
                        <ion-avatar id="avatar" class="avatarCenter">
                          <img src="https://images.unsplash.com/photo-1453733190371-0a9bedd82893?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80"/>
                        </ion-avatar>
                        <ion-card-header>
                          <ion-card-subtitle class="cardSub">Funciones</ion-card-subtitle>
                        </ion-card-header>
                        <ion-button>
                            <ion-icon size="small" name="create"></ion-icon>
                        </ion-button>
                        <ion-button>
                            <ion-icon size="small" name="trash"></ion-icon>
                        </ion-button>
                      </ion-card>
                    </div>
                    <div class="card" style="height: auto;">
                      <ion-card type="button" class="cardContent ion-text-center" href="#" style="height: auto;">
                        <ion-avatar id="avatar" class="avatarCenter">
                          <img
                            src="https://images.unsplash.com/photo-1509869175650-a1d97972541a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                          />
                        </ion-avatar>
                        <ion-card-header>
                          <ion-card-subtitle class="cardSub">Ecuaciones</ion-card-subtitle>
                        </ion-card-header>
                        <ion-button>
                            <ion-icon size="small" name="create"></ion-icon>
                        </ion-button>
                        <ion-button>
                            <ion-icon size="small" name="trash"></ion-icon>
                        </ion-button>
                      </ion-card>
                    </div>
                  
             
                  
                 </div>
              </ion-col>
            </ion-row>
       
 
     </ion-content>
        
 
  