<ion-header >
    <ion-toolbar>
        <ion-item>
            <ion-avatar id="avatar">
              <img src="https://images.unsplash.com/photo-1491308056676-205b7c9a7dc1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=753&q=80">
            </ion-avatar>
              <ion-label style="margin-left: 0.5rem;">
              <h1>Mi Perfil</h1>
            </ion-label>
      
          </ion-item>
    </ion-toolbar>
  </ion-header>
 
  <ion-content style="--background: #d7d8da">
    <ion-grid>
      <ion-item
        style="--background: transparent;  --border-color: #4c8dff; margin-top: 20px; margin-bottom: 0; height: 45px;">
        <ion-icon
          style="color:#383a3e;"
          size="large"
          slot="start"
          name="arrow-dropdown"></ion-icon>
        <ion-label
          style="margin-top: 0; margin-bottom: 0; color:#383a3e; font-weight: 600;"
          >CONTENIDO PÚBLICO</ion-label>
      </ion-item>
      <ion-row>
        <ion-col>
          <div class="contenido" style="background-color: white">
            <ion-card type="button" class="cardContent ion-text-center" href="/contenido" style="height: auto;"> 
              <ion-avatar id="avatar" class="avatarCenter">
                <img
                  src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"
                />
              </ion-avatar>
              <ion-card-header>
                <ion-card-subtitle class="cardSub">Robótica Educativa</ion-card-subtitle>
              </ion-card-header>
              <ion-button>
                <ion-icon size="small" name="create"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon size="small" name="trash"></ion-icon>
              </ion-button>
            </ion-card>
            <ion-card type="button" class="cardContent ion-text-center" href="/contenido" style="height: auto;"> 
              <ion-avatar id="avatar" class="avatarCenter">
                <img
                  src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"
                />
              </ion-avatar>
              <ion-card-header>
                <ion-card-subtitle class="cardSub">Robótica Educativa</ion-card-subtitle>
              </ion-card-header>
              <ion-button>
                <ion-icon size="small" name="create"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon size="small" name="trash"></ion-icon>
              </ion-button>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
      <ion-item
        style="--background: transparent;  --border-color: #4c8dff; margin-top: 20px; margin-bottom: 0; height: 45px;"
      >
        <ion-icon
          style="color:#383a3e;"
          size="large"
          slot="start"
          name="arrow-dropdown"
        ></ion-icon>
        <ion-label
          style="margin-top: 0; margin-bottom: 0; color:#383a3e; font-weight: 600;"
          >CONTENIDO PRIVADO</ion-label
        >
      </ion-item>
      <ion-row>
        <ion-col>
          <div class="contenido" style="background-color: white">
            <ion-card type="button" class="cardContent ion-text-center" href="/contenido" style="height: auto;"> 
              <ion-avatar id="avatar" class="avatarCenter">
                <img
                  src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"
                />
              </ion-avatar>
              <ion-card-header>
                <ion-card-subtitle class="cardSub">Robótica Educativa</ion-card-subtitle>
              </ion-card-header>
              <ion-button>
                <ion-icon size="small" name="create"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon size="small" name="trash"></ion-icon>
              </ion-button>
            </ion-card>
            <ion-card type="button" class="cardContent ion-text-center" href="/contenido" style="height: auto;"> 
              <ion-avatar id="avatar" class="avatarCenter">
                <img
                  src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"
                />
              </ion-avatar>
              <ion-card-header>
                <ion-card-subtitle class="cardSub">Robótica Educativa</ion-card-subtitle>
              </ion-card-header>
              <ion-button>
                <ion-icon size="small" name="create"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon size="small" name="trash"></ion-icon>
              </ion-button>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
      <ion-item
        style="--background: transparent;  --border-color: #4c8dff; margin-top: 20px; margin-bottom: 0; height: 45px;"
      >
        <ion-icon
          style="color:#383a3e;"
          size="large"
          slot="start"
          name="arrow-dropdown"
        ></ion-icon>
        <ion-label
          style="margin-top: 0; margin-bottom: 0; color:#383a3e; font-weight: 600;"
          >MIS CURSOS</ion-label
        >
      </ion-item>
      <ion-row>
        <ion-col>
          <div class="contenido" style="background-color: white">
            <ion-card type="button" class="cardContent ion-text-center" href="/contenido" style="height: auto;"> 
              <ion-avatar id="avatar" class="avatarCenter">
                <img
                  src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"
                />
              </ion-avatar>
              <ion-card-header>
                <ion-card-subtitle class="cardSub">Robótica Educativa</ion-card-subtitle>
              </ion-card-header>
              <ion-button>
                <ion-icon size="small" name="create"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon size="small" name="trash"></ion-icon>
              </ion-button>
            </ion-card>
            <ion-card type="button" class="cardContent ion-text-center" href="/contenido" style="height: auto;"> 
              <ion-avatar id="avatar" class="avatarCenter">
                <img
                  src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"
                />
              </ion-avatar>
              <ion-card-header>
                <ion-card-subtitle class="cardSub">Robótica Educativa</ion-card-subtitle>
              </ion-card-header>
              <ion-button>
                <ion-icon size="small" name="create"></ion-icon>
              </ion-button>
              <ion-button>
                <ion-icon size="small" name="trash"></ion-icon>
              </ion-button>
            </ion-card>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
        
 
  