<ion-header>
  <ion-toolbar >
    <ion-title >ROBOAPP</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-content color="success"> -->

<ion-grid style="overflow: scroll"> 
  <ion-row class="ion-justify-content-center" style="margin-top: 1rem"> 
    <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
      <div class="ion-text-center">
          <h4>Login</h4>
        </div>
        <div class="ion-padding">
          <ion-item style="margin-bottom: 1rem; border-radius: 4px;">
            <ion-input  type="text" placeholder="Username"></ion-input>
          </ion-item>
  
          <ion-item style="border-radius: 4px;">
            <ion-input type="password" placeholder="Password"></ion-input>
          </ion-item>
        </div>
  
        <div class="ion-padding">
          <ion-button size="small" id="ingresar" fill="clear" expand="block" routerLink="/docente">Ingresar</ion-button>
          <ion-button size="small" fill="clear" expand="block" style="color: white" routerLink="/registrarse">Registrarse</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
<!-- </ion-content> -->