<ion-header>
  <ion-item>
    <ion-avatar size="large" slot="start">
      <img src="assets/ionicons_svg_md-contact.svg" />
    </ion-avatar>
    <ion-label>
      <h3 class="nombreHeader">Renzo Lopez</h3>
      <p class="datosHeader">lopez.r@gmail.com</p>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content background="white">
  <ion-row style="border-radius: 10px;background: #4c8dff;margin-top: 1rem;"> 
    <ion-col>
      <ion-item
        style="--background: transparent;  --border-color: #4c8dff; margin-bottom: 0; height: 45px;">
        <!-- <ion-icon
          style="color:#383a3e;"
          size="large"
          slot="start"
          name="arrow-dropdown"></ion-icon> -->
        <ion-label class="titulosGral">ROBÓTICA</ion-label>
      </ion-item>
      <div class="contenido" style="border-radius: 5px;">
        <div class="card" >
          <ion-card type="button" class="cardContent ion-text-center" href="/contenido">
              <ion-avatar id="avatar" class="avatarCenter">
                <img src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"/>
              </ion-avatar>
              <ion-card-header>
              <ion-card-subtitle class="cardSub">Robótica Educativa</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
        </div>
        <div class="card">
          <ion-card class="cardContent ion-text-center">
            <ion-avatar id="avatar" class="avatarCenter">
              <img src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"/>
            </ion-avatar>
            <ion-card-header>
              <ion-card-subtitle class="cardSub">TEMA</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </div>
        <div class="card">
          <ion-card class="cardContent ion-text-center">
            <ion-avatar id="avatar" class="avatarCenter">
              <img
                src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"
              />
            </ion-avatar>
            <ion-card-header>
              <ion-card-subtitle class="cardSub">TEMA</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </div>
        <div class="card">
          <ion-card class="cardContent ion-text-center">
            <ion-avatar>
              <img
                src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"
              />
            </ion-avatar>
            <ion-card-header>
              <ion-card-subtitle class="cardSub">TEMA</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </div>
      </div>
    </ion-col>
  </ion-row>
 
  <ion-row>
      <ion-col>
        <ion-item
          style="--background: transparent;  --border-color: #4c8dff; margin-top: 20px; margin-bottom: 0; height: 45px;"
        >
          <!-- <ion-icon
            style="color:#383a3e;"
            size="large"
            slot="start"
            name="arrow-dropdown"></ion-icon> -->
          <ion-label class="titulosGral">HISTORIA</ion-label>
        </ion-item>
        <div class="contenido">
          <div class="card">
            
              <ion-card type="button" class="cardContent ion-text-center" href="/contenido">
                <ion-avatar id="avatar" class="avatarCenter">
                  <img src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"/>
                </ion-avatar>
                <ion-card-header>
                <ion-card-subtitle class="cardSub">Robótica Educativa</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
          </div>
          <div class="card">
            <ion-card class="cardContent ion-text-center">
              <ion-avatar id="avatar" class="avatarCenter">
                <img src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"/>
              </ion-avatar>
              <ion-card-header>
                <ion-card-subtitle class="cardSub">TEMA</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </div>
          <div class="card">
            <ion-card class="cardContent ion-text-center">
              <ion-avatar id="avatar" class="avatarCenter">
                <img
                  src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"
                />
              </ion-avatar>
              <ion-card-header>
                <ion-card-subtitle class="cardSub">TEMA</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </div>
          <div class="card">
            <ion-card class="cardContent ion-text-center">
              <ion-avatar>
                <img
                  src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"
                />
              </ion-avatar>
              <ion-card-header>
                <ion-card-subtitle class="cardSub">TEMA</ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </div>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
          <ion-item
            style="--background: transparent;  --border-color: #4c8dff; margin-top: 20px; margin-bottom: 0; height: 45px;"
          >
            <!-- <ion-icon
              style="color:#383a3e;"
              size="large"
              slot="start"
              name="arrow-dropdown"></ion-icon> -->
            <ion-label class="titulosGral">LENGUA</ion-label>
          </ion-item>
          <div class="contenido">
            <div class="card">
              
                <ion-card type="button" class="cardContent ion-text-center" href="/contenido">
                  <ion-avatar id="avatar" class="avatarCenter">
                    <img src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"/>
                  </ion-avatar>
                  <ion-card-header>
                  <ion-card-subtitle class="cardSub">Robótica Educativa</ion-card-subtitle>
                  </ion-card-header>
                </ion-card>
            </div>
            <div class="card">
              <ion-card class="cardContent ion-text-center">
                <ion-avatar id="avatar" class="avatarCenter">
                  <img src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"/>
                </ion-avatar>
                <ion-card-header>
                  <ion-card-subtitle class="cardSub">TEMA</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </div>
            <div class="card">
              <ion-card class="cardContent ion-text-center">
                <ion-avatar id="avatar" class="avatarCenter">
                  <img
                    src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"
                  />
                </ion-avatar>
                <ion-card-header>
                  <ion-card-subtitle class="cardSub">TEMA</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </div>
            <div class="card">
              <ion-card class="cardContent ion-text-center">
                <ion-avatar>
                  <img
                    src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"
                  />
                </ion-avatar>
                <ion-card-header>
                  <ion-card-subtitle class="cardSub">TEMA</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </div>
          </div>
        </ion-col>
      </ion-row>

  <!-- <ion-row>
    <ion-col>
      <ion-item
        style="--background: transparent;  --border-color: #4c8dff; margin-top: 20px; margin-bottom: 0; height: 45px;"
      >
         <ion-icon
          style="color:#383a3e;"
          size="large"
          slot="start"
          name="arrow-dropdown"
        ></ion-icon>
        <ion-label class="titulosGral">DESAFÍOS</ion-label>
      </ion-item>
      <div class="contenido">
        <ion-card
          style="box-shadow:none; width:150px;"
          class="card ion-text-center"
        >
          <ion-card-header class="challengeContent ion-text-center">
            <ion-card-subtitle class="challengeSub" style="color:white;"
              >CURSO</ion-card-subtitle
            >
            <p class="challengeText">
              TEMA
            </p>
          </ion-card-header>
          <ion-card-content class="resultContent">
            <ion-icon
              size="large"
              style="color:#0ec254;"
              name="checkmark-circle-outline"
            ></ion-icon>
            <h6>00</h6>
            <ion-icon
              size="large"
              style="color:#f04141;"
              name="close-circle-outline"
            ></ion-icon>
            <h6>00</h6>
          </ion-card-content>
        </ion-card>
        <ion-card
          style="box-shadow:none; width:150px;"
          class="card ion-text-center"
        >
          <ion-card-header class="challengeContent ion-text-center">
            <ion-card-subtitle class="challengeSub" style="color:white;"
              >CURSO</ion-card-subtitle
            >
            <p class="challengeText">
              TEMA
            </p>
          </ion-card-header>
          <ion-card-content class="resultContent">
            <ion-icon
              size="large"
              style="color:#0ec254;"
              name="checkmark-circle-outline"
            ></ion-icon>
            <h6>00</h6>
            <ion-icon
              size="large"
              style="color:#f04141;"
              name="close-circle-outline"
            ></ion-icon>
            <h6>00</h6>
          </ion-card-content>
        </ion-card>
        <ion-card
          style="box-shadow:none; width:150px;"
          class="card ion-text-center"
        >
          <ion-card-header
            class="challengeContent ion-text-center"
            style="box-shadow:none; width:150px; height: 150px; color:white;"
          >
            <ion-card-subtitle class="challengeSub" style="color:white;"
              >CURSO</ion-card-subtitle
            >
            <p class="challengeText">
              TEMA
            </p>
          </ion-card-header>
          <ion-card-content class="resultContent">
            <ion-icon
              size="large"
              style="color:#0ec254;"
              name="checkmark-circle-outline"
            ></ion-icon>
            <h6>00</h6>
            <ion-icon
              size="large"
              style="color:#f04141;"
              name="close-circle-outline"
            ></ion-icon>
            <h6>00</h6>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-col>
  </ion-row>-->
</ion-content>