<ion-header>
  <ion-toolbar>
    <ion-title>estudiante</ion-title>
    <ion-button slot="end" style="margin-right: 50px;">
      <ion-icon size="large" name="exit"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-item
      style="--background: transparent;  --border-color: #4c8dff; margin-top: 20px; margin-bottom: 0; height: 45px;"
    >
      <ion-icon
        style="color:#383a3e;"
        size="large"
        slot="start"
        name="arrow-dropdown"
      ></ion-icon>
      <ion-label
        style="margin-top: 0; margin-bottom: 0; color:#383a3e; font-weight: 600;"
        >MIS CURSOS</ion-label
      >
    </ion-item>
    <ion-row>
      <ion-col>
        <div class="contenido" style="background-color: white">
          <ion-card class="cardContent ion-text-center">
            <ion-avatar id="avatar" class="avatarCenter">
              <img
                src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"
              />
            </ion-avatar>
            <ion-card-header>
              <ion-card-subtitle>NOMBRE DEL CURSO</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p
                style="color:black; font-weight: 600; border-top: 1px solid #a2a4ab; padding-top: 15px; font-size: 0.8rem;"
              >
                Keep close to Nature's heart... and break clear away.
              </p>
            </ion-card-content>
          </ion-card>
          <ion-card class="cardContent ion-text-center">
            <ion-avatar id="avatar" class="avatarCenter">
              <img
                src="https://image.freepik.com/psd-gratis/estudiante-joven-loco-gesto-depresion_1459-5805.jpg"
              />
            </ion-avatar>
            <ion-card-header>
              <ion-card-subtitle>NOMBRE DEL CURSO</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p
                style="color:black; font-weight: 600; border-top: 1px solid #a2a4ab; padding-top: 15px; font-size: 0.8rem;">
                Keep close to Nature's heart... and break clear away.
              </p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
    <ion-item
      style="--background: transparent;  --border-color: #4c8dff; margin-top: 20px; margin-bottom: 0; height: 45px;"
    >
      <ion-icon
        style="color:#383a3e;"
        size="large"
        slot="start"
        name="arrow-dropdown"
      ></ion-icon>
      <ion-label
        style="margin-top: 0; margin-bottom: 0; color:#383a3e; font-weight: 600;"
        >DESAFÍOS REALIZADOS</ion-label
      >
    </ion-item>
    <ion-row>
      <ion-col>
        <div class="contenido" style="background-color: white">
          <ion-card
            style="box-shadow:none; width:150px;"
            class="ion-text-center"
          >
            <ion-card-header
              class="challengeContent ion-text-center"
              style="box-shadow:none; width:150px; height: 150px; color:white;"
            >
              <ion-card-subtitle style="color:white;">CURSO</ion-card-subtitle>
              <p
                style="color:black; font-weight: 600; border-top: 1px solid white; padding-top: 15px; font-size: 0.8rem;"
              >
                TEMA
              </p>
            </ion-card-header>
            <ion-card-content class="resultContent">
              <ion-icon
                size="large"
                style="color:#0ec254;"
                name="checkmark-circle-outline"
              ></ion-icon>
              <h6>00</h6>
              <ion-icon
                size="large"
                style="color:#f04141;"
                name="close-circle-outline"
              ></ion-icon>
              <h6>00</h6>
            </ion-card-content>
          </ion-card>
          <ion-card
            style="box-shadow:none; width:150px;"
            class="ion-text-center"
          >
            <ion-card-header
              class="challengeContent ion-text-center"
              style="box-shadow:none; width:150px; height: 150px; color:white;"
            >
              <ion-card-subtitle style="color:white;">CURSO</ion-card-subtitle>
              <p
                style="color:black; font-weight: 600; border-top: 1px solid white; padding-top: 15px; font-size: 0.8rem;"
              >
                TEMA
              </p>
            </ion-card-header>
            <ion-card-content class="resultContent">
              <ion-icon
                size="large"
                style="color:#0ec254;"
                name="checkmark-circle-outline"
              ></ion-icon>
              <h6>00</h6>
              <ion-icon
                size="large"
                style="color:#f04141;"
                name="close-circle-outline"
              ></ion-icon>
              <h6>00</h6>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>